USER = 'backenduser'
PW = 'backendpassword'
MONGOUSR = 'mongouser'
MONGOPW = 'mongopassword'
BASEURL = 'https://baseurl.for.ellaservices'
APPS = {
        'appid':{
            "name": "appname",
            "backend": "https://host.domain/path/to/ellaapp",
            "title": "title of ella app",
            "description": "short description of ella app",
            "icon": "https://host.domain/path/to/icon.jpg",
            "app":{
                "url": f"{BASEURL}/appid",
                "statusCode":"200",
                "message":"success"}},
}
